section, .articles {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 1;
    margin: 10rem 0;
    gap: 3rem;
}

article {
    width: 560px;
}

article img {
    background-position: 50% 50%;
    width: 100%;
    height: auto;
    border-radius: 3px;
    background-size: cover;
}

/* Laptop */
@media only screen and (max-width: 1024px) {
    .articles {
        justify-content: center;
        gap: 4rem;
    }

    article {
        max-width: 350px;
    }
}

/* Tablet */
@media only screen and (max-width: 768px){
    .section, .articles {
        justify-content: center;
    }
}

/* Mobile */
@media only screen and (max-width: 570px){
    article {
        padding: 1.5rem;
    }

    article h2, p {
        text-align: center;
    }
}

