img {
    border-radius: 0.1875rem;
}

div.authors {
    display: flex;
    justify-content: start;
    padding: 0 3rem;
    gap: 0.8125rem;
}

div.authors figure {
    max-width: 200px;
}

div.authors figure img{
    max-width: 100%;
}


div.authors figure:last-child img {
    transform: scaleX(-1);
}

main.contact-container {
    display: flex;
    justify-content: center;
}

input, textarea {
    display: block;
    padding: 1.5625rem 0;
    outline: none;
    font-size: 1.3rem;
}

section.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}

section.contact-form input {
    border: none;
    border-bottom: 2px solid #332C2B50;
    margin: 1.5rem 0;
}

section.contact-form textarea {
    border: none;
    border-bottom: 2px solid #332C2B50;
}

section.contact-form button {
    background-color: #AD3F2B80;
    color: #ffffff;
    padding: 1.9375rem;
    margin: 5.5rem 0;
    border: none;
    cursor: pointer;
    font-size: 1.5625rem;
}

section.contact-form button:hover {
    background-color: #AD3F2B99;
}

section.contact-form button:active {
    border: 1px solid #AD3F2B99;
}

section.social {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

section.social .icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5.7875rem 0 2.7875rem 0;
}

section.social .icons i {
    margin: 1rem;
    color: #00000050;
}

/* Laptop */
@media only screen and (max-width: 1024px){ 
    
    div.authors {
        padding: 0 3rem;
        margin: 0 0 3rem 0;
    }

    div.authors figure {
        max-width: 11rem;
    }
}

/* Tablet */
@media only screen and (max-width: 768px){
    
    div.authors {
        padding: 0 3rem;
        margin: 3rem 0;
    }
}

/* Mobile */
@media only screen and (max-width: 570px){

    div.authors {
        padding: 0 2rem;
    }

    div.authors figure {
        max-width: 9rem;
    }
}
