footer {
    border-top: 2px solid #00000080;
}

.footer-container {
    padding: 2rem 0;
    margin: 1.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .logo a{
    font-size: 2.25rem;
    color: #00000080;
    text-decoration: none;
}

ul.footer{
    display: flex;
}

ul.footer li { 
    list-style: none;
    padding-left: 2rem;
}

ul.footer li a{
    text-decoration: none;
    color: #00000080;
}

footer p {
    font-size: 0.9rem;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-bottom: 1rem;
}
