nav.main {
    display: flex;
    justify-content: space-around;
    padding: 2.25rem;
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 1;
    font-family: 'Lemonada', sans-serif;
    align-items: center;
}

nav.main .logo {
    font-size: 1.5rem;
}

nav.main .logo a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

nav.main .mobile-hamburger,
nav.main .tablet {
    display: none;
}

nav.main ul {
    display: flex;
    list-style: none;
}

nav.main ul li {
    margin-right: 3.125rem;
}

nav.main ul li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
}

nav.main ul li a:hover {
    border-bottom: 2px solid #AD3F2B;
}

nav.main ul li:last-child a {
    border-bottom: none
}

/* Tablet */
@media only screen and (max-width: 1250px) {

    nav.main {
        display: flex;
        padding: 1rem;
    }

    nav.main .desktop {
        display: none;
    }

    nav.main .tablet {
        display: none;
        flex-direction: column;
    }

    nav.main .mobile-hamburger,
    nav.main .mobile-hamburger::before,
    nav.main .mobile-hamburger::after
     {
        background-color: black;
        display: block;
        height: 4px;
        width: 30px;
        position: absolute;
    }

    nav.main .mobile-hamburger::before {
        content: '';
        margin-top: -8px;
    }

    nav.main .mobile-hamburger::after {
        content: '';
        margin-top: 8px;
    }
}